<h1>Filmes</h1>
<section>
    <h2>Novo filme</h2>
    <form (ngSubmit)="criar()">
        <div>
            <label for="">Título </label>
            <input [(ngModel)]="titulo" name="titulo" required/>
        </div>
        <div>
            <label for="">Gênero </label>
            <input [(ngModel)]="genero" name="genero" required/>
        </div>
        <div>
            <label for="">Ano lançamento </label>
            <input [(ngModel)]="ano_lancamento" name="ano_lancamento" required/>
        </div>
        <div>
            <label for="">Duração (Minutos) </label>
            <input [(ngModel)]="duracao_minutos" name="duracao_minutos"/>
        </div>
        <div>
            <label for="">Classificação Indicativa </label>
            <input [(ngModel)]="classificacao_indicativa" name="classificacao_indicativa"/>
        </div>
        <div>
            <label for="">Assistido </label>
            <input [(ngModel)]="assistido" name="assistido"/>
        </div>
        <button type="submit" [disabled]="salvando">Salvar</button>
    </form>
    @if (erro) { <p style="color: red">{{erro}}</p> }
</section>

<hr>

<section>
    <h2>Lista</h2>
    <button (click)="carregar()" [disabled]="carregando">Recarregar</button>
    @if (carregando) {
        <p>Carregando....</p>
    }@else {
        @if (filmes.length === 0) {
            <p>Nenhum aluno.</p>
        }@else {
             <ul>
             @for (f of filmes; track f._id) {
                <li>
                   <strong>{{ f.titulo }}</strong> - {{f.genero}} - {{f.ano_lancamento}}
                    <button (click)="excluir(f._id)">Excluir</button>
                </li>
             }
            </ul>
        }
    }
</section>