<h1>Filmes</h1>
<section>
    <h2>Novo filme</h2>
    <form (ngSubmit)="criar()">
        <div>
            <label for="">Nome</label>
            <input [(ngModel)]="nome" name="nome" required/>
        </div>
        <div>
            <label for="">Nacionalidade</label>
            <input [(ngModel)]="nacionalidade" name="nacionalidade" required/>
        </div>
        <div>
            <label for="">data_nascimento</label>
            <input type="number" [(ngModel)]="data_nascimento" name="data_nascimento" required=/>
        </div>
        <div>
            <label for="">estilo</label>
            <input [(ngModel)]="estilo" name="estilo" required/>
        </div>
        <div>
            <label for="">ativo</label>
            <input [(ngModel)]="ativo" name="ativo"/>
        </div>
        <button type="submit" [disabled]="salvando">Salvar</button>
    </form>
    @if (erro) { <p style="color: red">{{erro}}</p> }
</section>

<hr>

<section>
    <h2>Lista</h2>
    <button (click)="carregar()" [disabled]="carregando">Recarregar</button>
    @if (carregando) {
        <p>Carregando....</p>
    }@else {
        @if (diretores.length === 0) {
            <p>Nenhum diretor.</p>
        }@else {
             <ul>
             @for (d of diretores; track d._id) {
                <li>
                   <strong>{{ d.nome }}</strong> - {{d.data_nascimento}} - {{d.estilo}}
                    <button (click)="excluir(d._id)">Excluir</button>
                </li>
             }
            </ul>
        }
    }
</section>